<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<Form th:action="@{/book/bookList}" method="GET">
		<h2>대여 도서 입력</h2>
		<input type="text" name="bookName" placeholder="도서명" />
		<input type="text" name="author" placeholder="저자" />
		<input type="text" name="ISBN" placeholder="ISBN" />
		<input type="text" name="renterName" placeholder="대여자" />
		<input type="submit" value="rent"/>
	</Form>
</body>
</html>