<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- /book/bookAdd 이 주소랑 동일하게 매핑되어있는 메서드를 Controller 가 찾음 -->
	<Form th:action="@{/book/bookAdd}" method="GET">
		<h2>도서 입력</h2>
		<input type="text" name="bookName" placeholder="도서명" />
		<input type="text" name="author" placeholder="저자" />
		<input type="text" name="ISBN" placeholder="ISBN" />
		<input type="submit" value="rent"/>
	</Form>
</body>
</html>